/SampleCode/GraphicsScientist.xcodeproj
/GraphicsScientist.xcodeproj/xcuserdata/qd.xcuserdatad/xcschemes/xcschememanagement.plist
/GraphicsScientist.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/GraphicsScientist.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/GraphicsScientist.xcodeproj/project.pbxproj
